<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>product</servlet-name>
        <servlet-class>org.example.productcatalog.web.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>product</servlet-name>
        <url-pattern>/api/v1/product/*</url-pattern>
    </servlet-mapping>
</web-app>